---
import Layout from '../layouts/Layout.astro';
import { PRICING_PLAN } from '../data';
---

<Layout>
	<button class="my-8 py-1 px-8 rounded-full link border border-[#97BAFF]/40">
		<span class="bg-text-gradient bg-clip-text text-transparent text-sm ">Nos offres</span>
	</button>
	<h1 class="text-center text-white text-5xl font-bold">Des prix en accord avec<br/>
		<span class="text-transparent bg-clip-text bg-gradient-to-r from-[#88B3FD] to-[#043BCB]">notre vision</span>
	</h1>
	<div class="mt-8 flex gap-5 w-1/2">
		<a href="#" class="btn">Paiement Mensuel</a>
		<a href="#" class="btn-ghost">Paiement Annuel (-20%)</a>
	</div>
	<div class="mx-auto grid max-w-7xl gap-12 lg:gap-8 pt-10 sm:px-6 lg:grid-cols-3 lg:px-8">
		{PRICING_PLAN.map((plan) => (
			  <div class={plan.mostPopular ? "card-most-popular" : "card"}>
				<img src={plan.icon} alt={plan.title}/>
				<div class="flex items-center gap-2">
					<h3 class="font-bold text-3xl mt-4">{plan.title}</h3>
					{plan.mostPopular && <span class="px-1 rounded text-sm bg-white/20 border border-white">Best offer</span>}
				</div>
				<p class="text-4xl font-bold mt-4">${plan.price}<span class="text-base"> /mounth</span></p>
				<img src="/line.svg" alt="line" class="my-6">
				<ul>
					{plan.features.map((feature) => (
						<li class="flex gap-2 my-3">
							<img src="./check.svg" alt="check icon">
							{feature}
						</li>
					))
					}
				</ul>
				{plan.description && <p>{plan.description}</p>}
				<div class="flex mt-8">
					<a href="#" class="btn">{plan.cta}</a>
				</div>
			</div>
		))}
	</div>
</Layout>